####
## Git Ignore Rules for Agentic Data Quality Triage
## Author: Mario Caesar // hello@caesarmar.io // https://caesarmar.io/
####

# Todo List
todo/*
*.todo

# Credentials
infra/airflow/auth/*
infra/.env

# Generated local data
data/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
*$py.class
.vscode/

# Logs
*.log
*.py.log
logs/
